<div class="page-header">
  <h1>退会の確認</h1>
</div>
<p>
  退会した場合，ユーザに関するデータが全て削除されます。<br>
  再びログインしても，現在とは異なるユーザとして認識されます。
</p>
<p>
  <%= link_to '退会する', user_path, method: :delete, class: 'btn btn-danger btn-lg', data: { confirm: '本当に退会しますか？' } %>
</p>
