<div class="jumbotron">
  <h1>DuelRecords</h1>
  <p>
    とある研究室のデュエル戦績管理Webアプリケーション
  </p>
  <p>
    <% if logged_in? %>
      <%= link_to 'デュエルを記録する', new_duel_path, class: 'btn btn-primary btn-lg', role: 'button' %>
    <% else %>
      <%= link_to 'twitterでログイン', '/auth/twitter', class: 'btn btn-primary btn-lg', role: 'button' %>
    <% end %>
  </p>
</div>
<div class="page-header">
  <h2>Rankings</h2>
</div>
<ol class="list-unstyled">
  <% @users.each do |u| %>
    <li class="lead"><%= image_tag u.image_url %> <%= "@#{u.nickname} (#{u.rating})" %></li>
  <% end %>
</ol>
