<div class="page-header">
  <h1>戦績一覧</h1>
</div>
<div class="list-group">
  <% @duels.each do |duel| %>
    <%= link_to(duel, class: 'list-group-item') do %>
      <h4 class="list-group-item-heading">
        <%= "@#{duel.winner.nickname} v.s. @#{duel.loser.nickname}" %>
      </h4>
      <p>
        <%= duel.date.strftime('%Y/%m/%d') %>
      </p>
    <% end %>
  <% end %>
</div>
